
*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 10vh;
   background-color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding-bottom: 80px;
}

.container .content{
   width: 700px;
}

.container .content h3{
color: rgb(255, 255, 255);
   text-transform: uppercase;
   font-size: 22px;
}



.form-container{
    padding-left: 15px;
    padding-right: 15px;
   min-height: 100vh;
   background-color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding-bottom: 80px;
   
}

.form-container form{
   border-radius: 20px;
   width: 450px;
   background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
   border:2px solid rgb(255, 255, 255);
   padding:20px;
   text-align: center;
   color: aliceblue;
   height: 500px;
}

.form-container form .title{
   font-size: 25px;
   text-transform: uppercase;
   margin-bottom: 10px;
   
}
.form-container form .my-title{
    font-size: 18px;
    color: #051937;
    text-transform: uppercase;
    margin-bottom: 10px;
    
 }
 


.form-container form .box{
   width: 100%;
   padding:12px 14px;
   font-size: 20px;
   text-transform: none;
   border:2px solid rgb(255, 255, 255);
   border-radius: 20px;
   margin:10px 0;
}

.form-container form .form-btn{
   display: block;
   align-items: center;
   margin-left: 50px;
   width: 50%;
   border-radius: 20px;
   font-size: 20px;
   padding:10px;
   background-color: rgb(255, 255, 255);
   color:rgb(0, 0, 0);
   cursor: pointer;
   margin:10px 0;
}

.form-container form .form-btn:hover{
   background-color: #18ec82;
}
